# Публикуемые порты прокси на Docker-хосте
HTTP_PROXY_PORT=3128
SOCKS_PROXY_PORT=1080

# Учетные данные, используемые для HTTP и SOCKS5 соединений
PROXY_USERNAME=proxy
PROXY_PASSWORD=change-me

# CIDR или IP через запятую, которые должны ходить в обход VPN.
# Помимо встроенных RFC1918, добавьте адрес, по которому вы
# обращаетесь к прокси снаружи, если требуется (публичный IP хоста, IP клиента и т.п.)
# NO_VPN_ROUTES=228.91.16.20/32

# Список разрешенных адресатов для HTTP и SOCKS5 через запятую.
# Поддерживает IP, CIDR и шаблоны доменов, например .example.com.
# Пустое значение означает запрет всех подключений.
# Для разрешения всех подключений используйте PROXY_WHITELIST=*
PROXY_WHITELIST=api.ipify.org,z.ai,*.z.ai,cursor.com,*.cursor.com,*.cursor.sh,*.cursor-cdn.com,*.cursorapi.com,*.cursorvm.com,*.*.cursorvm.com,example.com,*.example.org,203.0.113.10,198.51.100.0/24

TZ=UTC
# Подсети LAN/CIDR через запятую, которым разрешено обходить VPN firewall, если нужно
# FIREWALL_OUTBOUND_SUBNETS=192.168.1.0/24

# Расположение конфигурации Amnezia 
AWG_CONFIG=./config/amnezia3.conf

